.hero{

    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.innerHero{
    display: flex;
    gap:10px;
}

.innerHeroText{
    display: flex;
    align-items: center;

}