:root{
  --color-primary: #34c94b;
  --color-black: black;
  --color-white: white;

}


*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0
}

html, body{
  height:100%;
  font-family: 'Poppins', sans-serif;
}


body{
  line-height:1.5;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x:hidden;
}