.topAlbumsList{

 width:100vw;
 padding: 0 3rem 3rem 3rem;
 position: relative;

}

.titleWrapper{
  
    position: relative;
    padding: 0 2rem 2rem 2rem;

}

.flexWrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 47px;
}

.TopAlbums{

    position: absolute;
    left:0;
    
}

.toggle{
    position: absolute;
    right:0;
    color: var(--color-primary);
    cursor: pointer;
}
  
